
<% @contrato.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger" role="alert">
        <%= msg %>
    </div>
<% end %>
<%= form_for @contrato  do |form|%>
    <div class="container mx-auto border mt-3" style="background-color: #FFE4C4; border-color: #000000 !important">
        <div class="row">
            <div  class="col-md-5 mt-5 mx-auto">
                <div class="form-group"  >
                    <%= form.label :nome%>
                    <%= form.text_field :nome, class:"form-control mb-2 mt-2", style: "border-color: #000000; resize: none "%>
                </div>
            </div>
            <div  class="col-md-5 mt-5 mx-auto">
                <div class="form-group"  >
                    <%= form.label :telefone%>
                    <%= form.text_field :telefone, class:"form-control mb-2 mt-2", style: "border-color: #000000; resize: none "%>
                </div>
            </div>
        </div>  
         <div class="row">
            <div  class="col-md-5 mx-auto">
                <div class="form-group"  >
                    <%= form.label :endereco%>
                    <%= form.text_field :endereco, class:"form-control  mt-2", style: "border-color: #000000; resize: none "%>
                </div>
            </div>
            <div  class="col-md-5 mx-auto">
                <div class="form-group">
                    <%= form.label :burguer_id%>  
                </div>
                <%= form.select :burguer_id, Burguer.all.pluck(:nome, :id) ,{prompt: "Escolha o seu Lanche"}, class:"form-select mt-2", style: "border-color: #000000; resize: none "%>
                </select>
            </div>
        </div>     
        <div class="row">
            <div  class="col-md-5 mx-auto">
                <div class="form-group"  >
                    <%= form.label :bebida_id, class:"mt-2 mb-2" %>  
                </div>    
                 <%= form.select :bebida_id, Bebida.all.pluck(:descricao, :id), {prompt: "Escolha a sua Bebida"} ,class:"form-select", style: "border-color: #000000; resize: none "%>     
            </div>    
            <div  class="col-md-5 mx-auto"></div>
        </div>    
        <div class="row mt-3">
            <div class= "col-md-5"></div>
            <div class="col-md-5 mb-4 text-end">
              <%= form.submit "Salvar", class:"btn btn-lg  text-white ", style: "background-color: #A0522D" %>
               <%=link_to "Cancelar", cardapinho_path, class: "btn  btn-lg btn-danger text-white"%>
            </div>
        </div> 
    </div>    
<% end %>